:root {
    --primary-color: #080C45;
    --secondary-color: #3680ec;
    --font-color: #eeeeee;

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

li {
  list-style: none;
}

/* Main */
.main {
    background-color: var(--primary-color);
    height: 100vh;

}
.top-banner {
  text-align: center;
  background-color: #ea4c4c !important;
}

.top-banner a, .top-banner span {
  display: inline-block;
}

.top-banner a {
  width: 100%;
  padding: 15px 0;
  text-decoration: none;
  color: #fff;
  color: rgba(255, 255, 255, .8);
}

.top-banner span {
    width: 107px;
    height: 33px;
    line-height: 28px;
    background-color: #c2ff71;
    border-radius: 20px;
    color: black;
    font-weight: 600;
}

.top-banner a:hover {
  color: #fff9e0;
}
.header{
  border-bottom: 1px solid #ffffff;
  position: fixed;
  width: 100vw;
  background-color: #080C45;
  z-index: 99;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  padding-right: 40px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 3rem;
}

.nav-link{
  font-size: 20px;
  font-weight: 400;
  color: #eeeeee;
}

.nav-link:hover{
  color: #3456ff;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #ffffff;
}

.header-img-class {
  height: 9%;
  width: 24%;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .nav-link {
    color: #3456ff;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

}

  .circle {
      height: 300px;
      width: 300px;
      position: absolute;
      z-index: -1;
      filter: blur(100px);
      border-radius: 500px;
  }

  .circle-1 {
    top: -150px;
    left: -150px;
    background: rgb(255,0,139);
    background: radial-gradient(circle, rgba(255,0,139,1) 0%, rgba(52,86,255,1) 100%);
  }
  .circle-2 {
    top: -50px;
    left: 90vw;
    background: rgb(255,0,139);
    background: radial-gradient(circle, rgba(255,0,139,1) 0%, rgba(52,86,255,1) 100%);
  }
  .circle-3 {
    top: 60vh;
    left: 50vw;
    background: rgb(255,0,139);
    background: radial-gradient(circle, rgba(255,0,139,1) 0%, rgba(52,86,255,1) 100%);
  }

  .container {
      padding-top: 15%;
      padding-left: 10%;
      display: flex;
  }

  .part-1 {
      max-width: 50%;
  }

  .text-1 {
      font-size: 48px;
      font-weight: 700;
      color: #eeeeee;
  }
  .text-2 {
      font-size: 20px;
      font-weight: 100;
      color: #eeeeee;
  }
  .red {
      color: red;
      background: -webkit-linear-gradient(rgb(255, 174, 0), rgb(255, 0, 0));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  a.btn{
      background-color: #3456ff;
      color: #eeeeee;
      padding: 18px 30px;
      border-radius: 50px;
      margin-bottom: -50px;
  }
  a.btn2 {
    border: 1px solid #3456ff;
    color: #eeeeee;
    padding: 18px 30px;
    margin-left: 20px;
    border-radius: 50px;
    margin-bottom: -50px;
  }
  /*
  .part-2 img {
      position: fixed;
      z-index: 3;
      border-radius: 10px;
  }
  .part-2 img.img-1 {
      top: 100px;
      right: 50px;
      width: 100px;
  }
  .part-2 img.img-2 {
      top: 100px;
      right: 300px;
      width: 150px;
  }
  .part-2 img.img-3 {
      top: 300px;
      right: 390px;
      width: 150px;
  }
  .part-2 img.img-4 {
      top: 380px;
      right: 220px;
      width: 150px;
  }
  .part-2 img.img-5 {
      top: 300px;
      right: 50px;
      width: 150px;
  }
  */
  .part-2 img {
    width: 200px;
    padding: 10px;
    border-radius: 20px;
  }
  .part-2 {
    padding-left: 50px;
    margin-top: -70px;
    padding-bottom: 40px;
  }

  @media only screen and (max-width: 650px) {
    .container {
      flex-direction: column;
      padding-bottom: 50px;
      max-height: 1000px;
      background-color: #080C45;
    }
    .text-1 {
      font-size: 40px;
    }
    .about {
      margin-top: 400px !important; 
    }
    .text-2 {
      font-size: 15px;
    }
    .part-1 {
      max-width: 80vw;
      padding-top: 40px;
      margin-bottom: 30px;
    }
    .part-2 {
      display: flex;
      padding-top: 100px;
      margin-left: -30px;
      flex-wrap: wrap;
    }
    .part-2 img {
      width: 150px !important;
    }
    .about img {
      width: 300px;
    }
    .about .d-flex {
      flex-direction: column;
      padding: 30px;
    }
    .about .part-2 {
      margin-top: 100px !important;
    }
    .cards.about {
      margin-top: 20px !important;
    }
    .card {
      padding-top: 40px !important;
      margin: 0 !important;
      padding: 10px !important;
    }
  }

  .about {
    margin-top: 50px;
    text-align: center;
  }

  .d-flex {
    display: flex;
    padding: 18px 80px;
    justify-content: center;
    align-items: center;
  }

  .about img {
    border-radius: 20px;
    margin-left: 20px;
    width: 400px;
  }
  
  .about h1 {
    font-size: 40px;
  }
  .about {
    padding: 40px
  }
  .card {
    background-color: #fff;
    padding: 10px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #eee;
    border-radius: 20px;
    height: 280px;
    width: 200px;
    margin-bottom: 20px !important;
    background: #fff;
  }
  .card i {
    margin-top: 10px;
    font-size: 50px;
    color: #3456ff;
  }
  .card h4 {
    font-size: 20px;
  }

  .card p {
    margin-top: 10px;
    color: #8f8f8f;
    font-size: 15px;
  }
  .team {
    padding: 0;
  }
  .team .d-flex {
    flex-wrap: wrap !important;
  }
  .team .card {
    border: 1px solid #eee;
    border-radius: 20px;
    height: 280px;
    width: 200px;
    margin-bottom: 20px !important;
  }

  .team .card img {
    width: 190px;
    margin-left: 0 !important;
    margin-bottom: 5px;
  }
  
   .card:hover, .team .card img:hover {
    box-shadow: 10px 10px 10px #eee;
  }

  .community .d-flex {
    font-size: 30px;
  }
  .community .d-flex a{
    margin-left: 50px !important;
    color: #000;
  }
  .community .d-flex a i{
    padding: 10px;
    border: 1px solid #000;
    border-radius: 500px;
  }

  .community .d-flex a i:hover {
    box-shadow: 5px 5px 10px #7c7c7c;
    transform: rotate(50deg);
    translate: 5s ease;
  }

  .community .d-flex a:nth-child(1) {
    margin-left: 0 !important;
  }

  @media only screen and (max-width: 640px) {
    .community .d-flex {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      font-size: 25px;
    }
    .community .d-flex a{
      margin-left: 5px !important;
      color: #000;
    }
  }